<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<parameter name="date" value="30-March-2018"></parameter>
		<classes>


			<class name="TestCases.GetFabHotelList" />
			<class name="TestCases.SetDate" />
			<class name="TestCases.ValidatePayAtHotel" />



		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
